<h1>New Event</h1>

<h2>Add an event to your wedding.</h2>

<%= form_for([@invitation, @event]) do |f| %>
  <div>
    <%= f.label "Name" %><br/>
    <%= f.text_field "name" %>
  </div>  
  <div>
    <%= f.label "Date" %><br/>
    <%= f.date_field "date" %>
  </div>
  <div>
    <%= f.label "Time" %><br/>
    <%= f.datetime_field "time" %>
  </div>
  <div>
    <%= f.label "Location" %><br/>
    <%= f.text_field "location" %>
  </div>
  <div>
  	<%= f.label "RSVP?" %><br/>
  	<%= f.select :rsvp, [['Yes', true], ['No', false]] %>
  </div>
  <div>
  	<%= f.label "Event Notes" %>
  	<%= f.text_field "notes" %>
  </div>
  <div>
  	<%= f.label "Event Order" %>
  	<%= f.number_field "order" %>
  <div>
  	<%= submit_tag "Create" %>
	</div>
<% end %>