<center>

<h3 style="color:#8E44AD;"><%= @invitation.bridename %> and <%= @invitation.groomname %></h3>
<h4>are getting married</h4>
<h4>on <%= @invitation.date.strftime("%B %d, %Y") %></h4>
<h4>in <%= @invitation.location %></h4>
<br/>

<h3 style="color:#8E44AD;">Events</h3>
	<h5><% if user_signed_in? %>
	<%= link_to 'Add Event', new_invitation_event_path(@invitation) %>.
	<% end %></h5>

<% @invitation.events.each do |e| %>
    <h4><%= e.name %></h4>
    <% if e.rsvp %>
    <p>Please <a href="#">RSVP</a>.</p>
    <% else %>
    <p>No RSVP Required.</p>
    <% end %>
    <p><%= e.date.strftime("%B %d, %Y") %> - <%= e.time.strftime("%l:%M %P") %></p>
    <p><%= e.location %></p>
    <p><%= e.notes %></p>
<% end %></br>

<h3 style="color:#8E44AD;">Contact Info</h3>

<div class="row">

<div class="col-md-6"><strong><%= @invitation.groomname %></strong><br/><%= @invitation.groomphone %><br/><%= @invitation.groomemail %></div>

<div class="col-md-6"><strong><%= @invitation.bridename %></strong><br/><%= @invitation.bridephone %><br/><%= @invitation.brideemail %></div>

</div></br>

<% if user_signed_in? %>
<h5><%= link_to 'Edit Invitation', edit_invitation_path %>.
<%= link_to 'Delete Invitation', @invitation, method: :delete, data: { confirm: 'Are you sure?' } %>.</h5>
<% end %>

</center>