<center>

<p style="color:#8E44AD;font-size:65px;font-family:Pinyon Script;"><%= @invitation.groomname %> &amp; <%= @invitation.bridename %></p>
<h4>are getting married!</h4>
<h4><%= @invitation.date.strftime("%B %d, %Y") %></h4>
<h4><%= @invitation.location %></h4>
<br/>

<p style="color:#8E44AD;font-family:Pinyon Script;font-size:46px;">Events</p>

<% @invitation.events.each do |e| %>
    <h4><%= e.name %></h4>
    <% if e.rsvp %>
    <p>Please <a href="#">RSVP</a></p>
    <% else %>
    <p>No RSVP Required.</p>
    <% end %>
    <p><%= e.date.strftime("%B %d, %Y") %> - <%= e.time.strftime("%l:%M %P") %></p>
    <p><%= e.location %></p>
    <p><%= e.notes %></p>
    <% if user_signed_in? %>
    <p><%= link_to 'View/Edit', invitation_event_path(@invitation, e) %></p>
    <% end %><br/>
<% end %>

    <h5><% if user_signed_in? %>
    <%= link_to 'Add Event', new_invitation_event_path(@invitation) %>.
    <% end %></h5>

<p style="color:#8E44AD;font-family:Pinyon Script;font-size:46px;">Contact Info</p>

<div class="row">

<div class="col-md-6"><strong><%= @invitation.groomname %></strong><br/><%= @invitation.groomphone %><br/><%= @invitation.groomemail %></div>

<div class="col-md-6"><strong><%= @invitation.bridename %></strong><br/><%= @invitation.bridephone %><br/><%= @invitation.brideemail %></div>

</div></br>

<% if user_signed_in? %>
<h5><%= link_to 'Edit Invitation', edit_invitation_path %>.
<%= link_to 'Delete Invitation', @invitation, method: :delete, data: { confirm: 'Are you sure?' } %>.</h5>
<% end %>

<p style="font-size:48px;font-family:Great Vibes;">We look forward to celebrating with you!</p>

</center>