<center>

<h2><%= @invitation.bridename %> and <%= @invitation.groomname %></h2>
<h4>are getting married on <%= @invitation.date %></h4>
<h4>in <%= @invitation.location %></h4>

<h3>Events</h3>

<p>Sample Event 1 - Click here to <a href="#">RSVP</a></p>
<p>Sample Event 2 - Click here to <a href="#">RSVP</a></p>
<p>Sample Event 3 - Click here to <a href="#">RSVP</a></p>

<h3>Contact Info</h3>

<div class="row">

<div class="col-md-6"><strong><%= @invitation.groomname %></strong><br/><%= @invitation.groomphone %><br/><%= @invitation.groomemail %></div>

<div class="col-md-6"><strong><%= @invitation.bridename %></strong><br/><%= @invitation.bridephone %><br/><%= @invitation.brideemail %></div>

</div>

<br/><%= link_to 'Edit', edit_invitation_path %>
<%= link_to 'Delete', @invitation, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Add Event', new_invitation_event_path(@invitation) %>

</center>