<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
  <title>invitely.io - digital wedding invitations</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Pinyon+Script|Great+Vibes">

</head>
<body>

<%= render 'layouts/header' %>

<div class="container"></br>

<center><p class="notice"><%= notice %></p></center>
<center><p class="alert"><%= alert %></p></center>

<%= yield %>

<%= render 'layouts/footer' %>

</div>

</html>